h3 {
    font-weight: bold;
}
table {
    width: 100%;
}
td {
    vertical-align: top;
    width: 512px;
    /* why does 50% not work? (causes the API query line to take massive width in Chrome) */
    
    word-wrap: break-word;
    /* so that the API query doesn't make the cell grow in Chrome */
}
td.form {
    padding: 20px 20px;
    background-color: #efefef;
    width: 475px;
}
td.form input[type=text] {
    width: 95%;
    height: 30px;
    font-size: 13px;
    padding-left: 5px;
}
td.results {
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
    
    padding: 20px 20px;
    background-color: #efefef;
    font-size: 13px;
}
.autoCompleteWrapper {
    position: relative;
}
div.autoCompleteWrapper div {
    background-color: #000;
    background-color: #fff;
    /* Do we need to use an Oasis theme mixin? */
}
.autocomplete {
    border: 1px solid;
    padding: 3px;
}
